
.app-footer{
    background: #fff;
    width:100%;
    height:50px;
    display:flex;
    position:fixed;
    bottom:0;
    a{
        flex-grow: 1;flex-shrink: 1;
        display:flex;
        color:#9a9a9a;
        flex-flow: column;
        justify-content: space-around;
        align-items:center; 
        span{
            font-size:0.16rem;
        }
        
        i { font-size: 1.5em;}
        &.actived {
            color:blue;
        }
    }
}